.card {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 600px;
  margin: 30px;
}

.card:hover {
  background-color: rgb(255, 237, 78);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 10px 5px 5px #01aed9;
}

body {
  background-image: url("img/lossimpsonss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  color: aliceblue;
}

h1:hover {
  color: rgb(255, 237, 78);
}

img {
  width: 250px;
}
