* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: #000000 #fff;
}

body {
    margin: 0;
    font-family: inherit;
    background-color: #d9bb8c;
    font-size: 16.9px;
    color: #000000dd;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

/* ----- Header y Menú Responsivo ----- */

.header__logo {
    width: 100px;
    height: 100px;
    background-image: url(logo11.png);
    position: center;
    background-size: cover; 
    margin-top: 10px;
    position: relative;
    transition: all 0.5s ease;
}

.header__checkbox:checked ~ .header__nav {
    background-color: #fff; /* Fondo blanco al abrir el menú en móvil */
}

.header {
    background-color: #fff!important; /* Fondo blanco en cualquier tamaño de pantalla */
}

@keyframes logo-animation {
    0% { transform: translateX(0); }
    50% { transform: translateX(340px); }
    100% { transform: translateX(0); }
}

.header__logo:hover {
    animation: logo-animation 4s ease-in-out;
}

.animation-example {
    --animation-name: example-animation;
    --animation-duration: 8s;
    --animation-timing-function: ease-in-out;
    --animation-delay: 1s;
    --animation-iteration-count: infinite;
    --animation-direction: normal;
    --animation-fill-mode: forwards;
}


.header {
    font-family: inherit;
    font-weight:900;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    padding: 10px 20px; /* Reducido padding para hacer el header más pequeño */
    height: 60px;  /* Reducir la altura del header */
    color: rgb(0, 0, 0);
}

/* Botón del menú de navegación */
.header__open-nav-button {
    color: rgb(0, 0, 0);
    font-size: 2rem;  /* Reducir el tamaño para que el botón sea más pequeño */
    font-weight: 600;
    position: absolute;
    right: 20px;
    display: block;
    z-index: 6;
}

.header__checkbox {
    display: none; /* Ocultar la casilla de verificación del menú */
}

/* Estilo del menú, oculto por defecto */
.header__nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    outline: 2px solid transparent;
    position: absolute;
    top: 60px; /* Colocar el menú justo debajo del header */
    left: 0;
    right: 0;
    z-index: 4;
    height: auto; /* El menú no debe ocupar toda la pantalla */
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  /* Alineación de los elementos del menú */
    padding: 20px 0; /* Espaciado reducido */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); /* Agregar sombra para un estilo más moderno */
}

/* Mostrar el menú cuando se selecciona el checkbox */
.header__checkbox:checked ~ .header__nav {
    display: flex;  /* Mostrar el menú */
}

/* Estilo para los elementos del menú */
.header__nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center; /* Centrar los elementos del menú */
    gap: 20px;  /* Espaciado entre los elementos */
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem; /* Tamaño de fuente ligeramente más grande */
    padding: 10px 20px; /* Espaciado alrededor de los enlaces */
    transition: all 0.3s ease; /* Transición suave para los efectos de hover */
}

/* Efecto de hover para los enlaces */
.header__nav-item a:hover,
.header__nav-item a:active {
    text-decoration: none;
    font-size: 25px;
    color: #d9bb8c;
}

h1:hover {
    color: #d9bb8c;
}

.habilidades:hover {
    color: #d9bb8c;
}

/* ----- En pantallas grandes ----- */
@media screen and (min-width: 600px) {
    .header {
        padding: 15px 40px; /* Padding más grande para pantallas más grandes */
        height: 80px;  /* Aumentar ligeramente la altura */
        animation: header-movement both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        animation-range: 10px 100px;
    }

    .header__logo {
        width: 100px; /* Tamaño fijo, asegúrate que no cambie */
        height: auto; /* Mantener la proporción */
        margin: 10px 20px;
        object-fit: contain; /* Asegura que no se distorsione */
    }

    /* Hacer que el menú se muestre horizontalmente en pantallas grandes */
    .header__nav {
        display: flex;
        position: static;
        justify-content: flex-start;
        height: auto;
        width: auto;
        flex-direction: row;
        align-items: center;
        background-color: initial;
        box-shadow: none; /* Eliminar sombra en pantallas grandes */
        padding: 0;
    }

    .header__nav-list {
        flex-direction: row; /* Hacer que los elementos se alineen en una fila */
        gap: 30px;  /* Espaciado entre los enlaces */
    }

    .header__open-nav-button {
        display: none;  /* Ocultar el botón de menú en pantallas grandes */
    }
}

/* ----- Para pantallas pequeñas ----- */
@media (max-width: 600px) {
    .header__logo {
        width: 80px; /* Mantener el tamaño del logo fijo en pantallas pequeñas */
        height: auto; /* Mantener la proporción */
    }

    .header {
        animation: header-movement both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        animation-range: 10px 100px;
    }
}


/* ----- Perfil ----- */
.profile {
    container-name: profile;
    container-type: inline-size;
    position: relative;
    z-index: 3; /* Asegura que el contenido no se tape con el menú */
    animation: aparecer 2.4s -.6s both;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    max-width: 1400px;
    z-index: 2; /* Asegura que el contenido esté por encima del menú */
}

.profile__img {
    max-width: 100%;
    width: 720px;
    
}

.profile__img-container {
    max-height: 500px;
    overflow: hidden;
    
}

.profile__data-container {
    max-width: 600px;
    padding: 12px;
}
.profile__video {
    object-position: 48.5% center;
}


h1 {
    color: rgb(0, 0, 0);
}

.profile__skills-container h2 {
    color: rgb(0, 0, 0);
}

.profile__skill {
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    align-items: center;
}

.profile__skill-name:hover{
    color: #d9bb8c;
}

.load-bar:hover {
    color: #d9bb8c;
}

.profile__skill-name{
    color: rgb(0, 0, 0);
}
.load-bar {
    border: linear-gradient(135deg, rgb(0, 0, 0) 0%, #2a2727 50%, #d9bb8c 100%);
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left: 0;
}

.load-bar__bar {
    background: linear-gradient(135deg, rgb(0, 0, 0) 0%, #2a2727 50%, #d9bb8c 100%);
    border-radius: 4px;
    padding: 4px 6px;
}

.bar--80 {
    width: 80%;
}

.bar--60 {
    width: 60%;
}
.bar--50 {
    width: 50%;
}


/* ----- Perfil Queries (pantallas grandes) ----- */
@container profile (min-width: 720px) {
    .profile__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: transparent;
        height: 100vh;
        margin: auto;
    }

    .profile__data-container{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px 25px 25px 0px;
        flex-grow: 1;
        box-shadow: 0px 0px 9px #000000;
        max-width: 50%;
    }

    h1 {
        margin-top: 0;
        font-size: 2rem;
        text-wrap: balance;
        max-width: 100%;
        text-align: center; 
    }

    .profile__data {
        max-width: 620px;
    }

    .profile__img-container {
        flex-shrink: 0;
        max-width: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile__img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}


/* ----- portfolio section ----- */

.portfolio {
    font-family: inherit;
    background: linear-gradient(135deg, #d9bb8c 0%, #2a2727 50%, #000000 100%);
    color: #fff;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
    justify-content: space-evenly;
}

.portfolio__project {
    transition: 0.3s;
}

.portfolio__project {
    transition: 0.3s;
}



.portfolio__project-name:hover{
    color:#d9bb8c;
}


.portfolio__project-name a{
    text-decoration: none;
    color: #fff;
}

.portfolio__project-name a:hover{
    text-decoration: none;
    color: #d9bb8c !important;
}

.hidden-text {
    display: none;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.portfolio__project-name:hover .hidden-text {
    display: block;
    font-size: 20px; 
}

a:hover + .hidden-text {
    display: block;
}

.portfolio__project-name a:hover{
    color:#d9bb8c;
}

.portfolio__tiitle:hover{
    color:#d9bb8c;
}

.portfolio__title {
    font-size: 2rem;
    margin-bottom: 0;
}

.portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
}

.portfolio__project {
    background-image: linear-gradient(#0009), url(logo.png);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 8px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 40%;
}


.portfolio__project:hover {
    opacity: 0.74;
    outline: 2px solid #fff;
}



/* ----- portfolio queries ----- */

@container portfolio (min-width: 56.25rem) {
    .portfolio__project-container{
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    }

    .portfolio__project:first-child{
        grid-column: span 2;
    }

    .portfolio__project:nth-child(6){
        grid-column: span 2;
    }
}


/* ----- portfolio Ends ----- */


/* ----- Contacto ----- */

.form {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    container-name: form;
    container-type: inline-size;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% contain 40%;
    font-family: inherit;
}

.form__form {
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
    font-family: inherit;
}

.form__input-container :is(input, textarea) {
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    background-color: #fffd;
    font-family: inherit;

}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"] {
    border: 2px solid transparent;
    color: #fff;
    background: #000000;
    font-size: 18px;
    padding: 12px 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.8s ease-in-out;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    font-family: inherit;

}

.form__input-container input[type="submit"]:hover {
    background: #ffffff;
    color: #000000;
    font-family: inherit;

}




.form__title {
    font-size: 2rem;
}

/* ----- Contacto queris ----- */

@container form (min-width: 56.25rem) {
    .form__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nombre apellidos"
        "email email"
        "mensaje mensaje"
        "button button";
        gap: 12px;
        background-image: radial-gradient(#ffffff06,#00000033);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
        margin-bottom: 30px;
    }

    .form__form:hover{
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
    }

    
    
    .form__input-container:first-child{
        grid-area: nombre;
    }
    .form__input-container:nth-child(2){
        grid-area: apellidos;
    }


    .form__input-container:nth-child(3){
        grid-area: email;
    }

    .form__input-container:nth-child(4){
        grid-area: mensaje;
    }

    .form__input-container:nth-child(5){
        grid-area: button;
    }
    .form__input-container :is(input, textarea) {
        box-shadow: none;
        border-radius: 4px;
    }
}

.form {
    font-family: inherit;
    font-weight: 900;
}

/*-----contactos end-----*/


/*-----Footer sections-----*/

footer {
    font-family: inherit;
    font-weight: 900;
    padding: 60px;
    text-align: center;
    background: linear-gradient(135deg,#000000 50%, #ffffff 100%);
    color: #fffd;
    font-size: 22px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

footer p:hover{
    color: #d9bb8c !important;
}


#copy {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

#media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    flex: row;
    align-items: center;
    justify-content: space-between;
}

footer img:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.75);
    flex: row;
    align-items: center;
    justify-content: space-between;
}


.social1:hover{
    box-shadow: 13px 31px 63px 23px rgba(4, 155, 255, 0.75);
    transform: scale(1.5);
}

.social2:hover{
    box-shadow: 13px 31px 63px 23px rgba(250, 0, 0, 0.75);
    transform: scale(1.5);
}

.social1, .social2 {
    border-radius: 20%;
}

.social-icons {
    display: flex;
    gap: 20px;
    position: relative;
    width: 100%;
}

.social1, .social2 {
    display: inline-block;
    transition: transform 4s ease-in-out;
}



@keyframes moveLeft {
    0% { transform: translateX(0) scale(1); }
    50% { transform: translateX(30vw) scale(1.5); }
    100% { transform: translateX(0) scale(1); }
}

@keyframes moveRight {
    0% { transform: translateX(0) scale(1); }
    50% { transform: translateX(-30vw) scale(1.5); }
    100% { transform: translateX(0) scale(1); }
}


.btn-1 {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.267), 0px 0px 6px #d9bb8c;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.933), 0px 0px 3px #d9bb8c;
    animation: parpadear 3s infinite alternate backwards;
}

/*-----Animaciones------*/

@keyframes header-movement {
    from {
        padding: 20px 0;
        background-color: #fff;
        color: #fff;
    }
    to {
        padding: 20px 0;
        background-color: #0006;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 


img {
    width: 200px;
    transition: transform 3s;
}

.form__title {
    color:rgb(0, 0, 0);
}

.form__title:hover {
    color: #ffffff;
}

.form__input-container {
    color:rgb(0, 0, 0);
}

.form__input-container:hover {
    color:#ffffff;
}

#copy:hover{
    color: #d9bb8c !important;
}

.profile__container {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.profile__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    opacity: 1;
}

.profile__video {
    position: absolute;
    width: 880px; /* tamaño mayor */
    height: 880px;
    top: -189px; /* para centrar visualmente el video más grande */
    left: -200px;
    object-fit: cover;
    z-index: 1;
    opacity: 0;
}

.profile__img {
    opacity: 1;
    z-index: 2;
}

.profile__video {
    opacity: 0;
    z-index: 1;
}

.profile__container.hovering .profile__img {
    opacity: 0;
}

.profile__container.hovering .profile__video {
    opacity: 1;
}